<!-- accounts/templates/accounts/change_password.html -->
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="card text-center mx-auto" style="max-width: 400px;">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Change Password</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning btn-block">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}
