{% extends 'base.html' %}

{% block title %}Request Demand - EMS{% endblock %}

{% block content %}
  <h2>Request Demand</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="demand_request">Demand Request:</label>
      <input type="checkbox">
    </div>
    <input type="hidden" name="demand_request" value="true">  <!-- or value="false" -->

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- request_demand.html -->


{% endblock %}
